@import "tailwindcss";

:root {
  --ikkimo-brand: rgb(206, 32, 38);
  --ikkimo-brand-hover: rgba(206, 32, 38, 0.1);
  --ikkimo-bg: rgb(250, 250, 250);
  --ikkimo-text: rgb(77, 77, 77);
  --ikkimo-border: rgb(171, 171, 171);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--ikkimo-bg);
  color: var(--ikkimo-text);
}